Navbar container .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
}

p {
  padding: 10px;
}

/* Links inside the navbar */
.navbar a {
  /* float: left; */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  /* float: left; */
  overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 85%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px 48px; /*위아래, 양옆*/
  animation: slideDown 1s ease forwards;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 15%;
  padding: 5px;
  /* background-color: #ccc; */
  height: 200px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*h3 color*/
.column h3 {
  color: black;
}

/* Add a background color on hover */
.column a:hover {
  /* background-color: #ddd; */
  text-decoration: underline;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Animation Keyframes */
@keyframes slideDown {
  from {
    transform: translateY(-3%);
  }
  to {
    transform: translateY(0);
  }
}
