.header{
  background-color: #a4c991; /*a4c991*/
  padding: 5px 50px; /*위아래, 양옆*/
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer{
  background-color: #a4c991;
  padding: 5px 50px;
  color: white;
  display: flex;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
}

p {
  padding: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}


/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 85%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0px 48px; /*위아래, 양옆*/
  animation: slideDown 1s ease forwards; 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 15%;
  padding: 5px;
  /* background-color: #ccc; */
  height: 200px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*h3 color*/
.column h3{
  color: black;
}

/* Add a background color on hover */
.column a:hover {
  /* background-color: #ddd; */
  text-decoration: underline;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.login{
  background-color: yellow;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  position: relative;
}

/*-------------------------------*/
/* The container <div> - needed to position the dropdown content */
/* .dropdown_m {
  position: absolute;
  display: inline-block;
  float: right;
} */

/* Style The Dropdown Button */
/* .dropbtn_m {
  background-color: #4CAF50;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: right;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content_m {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content_m a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content_m a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */
/* .dropdown_m:hover .dropdown-content_m {
  display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown_m:hover .dropbtn_m {
  background-color: #3e8e41;
} */

/* Animation Keyframes */
@keyframes slideDown {
  from {
    transform: translateY(-3%);
  }
  to {
    transform: translateY(0);
  }
}
