<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamja_farm.mapper.UserMapper">

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="UserDTO">
		<![CDATA[
			INSERT INTO user (id, pw, name, nick_name, email, birth, gender, pic, country_code, phone, mbti, caption, grade)
			VALUES (#{id}, #{pw}, #{name}, #{nick_name}, #{email}, #{birth}, #{gender}, #{pic}, #{country_code}, #{phone}, #{mbti}, #{caption}, #{grade});
		]]>
	</insert>
	
	<select id="selectGender" parameterType="string" resultType="string">
		SELECT gender FROM user_gender
	</select>

	<select id="selectMBTI" parameterType="string" resultType="string">
		SELECT mbti FROM user_mbti
	</select>
	
	<select id="selectCountry" parameterType="string" resultType="string">
		SELECT country_code FROM user_country_code
	</select>
	
	<insert id="insertUserVisit" parameterType="UserDTO">
		<![CDATA[
			INSERT INTO user_visit (user_id)
			VALUES (#{id})
		]]>
	</insert>

	<select id="selectUserId" parameterType="string" resultType="int">
		<![CDATA[
			SELECT count(*) FROM user
			WHERE id=#{id}
		]]>
	</select>

	<!--회원정보 가져오기 -->
	<select id="selectUser" parameterType="string" resultType="UserDTO">
		SELECT * FROM user
		WHERE id = #{id}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="UserDTO">
		<![CDATA[
			UPDATE user
			SET pw=#{pw}, name=#{name}, nick_name=#{nick_name}, email=#{email}, birth=#{birth}, gender=#{gender}, pic=#{pic}, country_code=#{country_code}, phone=#{phone}, mbti=#{mbti}, caption=#{caption}
			WHERE id=#{id}
		]]>
	</update>

	<!-- 비밀번호 변경 -->
	<update id="updateUserPass" parameterType="UserDTO">
		UPDATE user SET pw=#{pw}
		WHERE id = #{id}
	</update>

	<!--회원탈퇴 -->
	<delete id="deleteUser" parameterType="string">
		DELETE FROM user
		WHERE id=#{id}
	</delete>

	<delete id="deleteUserVisit" parameterType="string">
		DELETE FROM user_visit
		WHERE id=#{id}
	</delete>

</mapper>
